  .phone-icon:hover {
    animation: shake 0.3s ease infinite;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-4px);
    }
    50% {
      transform: translateX(4px);
    }
    75% {
      transform: translateX(-4px);
    }
  }
  .btn--circle {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-top: 30px;
  }
  .btn--circle:hover {
    margin-left: 38px;
  }
  .button.btn--circle:hover .ms-btn--label {
    -webkit-transform: translateX(calc(20px + 6pt));
    -ms-transform: translateX(calc(10px + 6pt));
    transform: translateX(calc(10px + 6pt));

}
  .ms-btn--label {
    transition: transform .5s cubic-bezier(.49,0,.01,1),-webkit-transform .5s cubic-bezier(.49,0,.01,1);
  }
  .btn--circle:hover .circle {
    clip-path: circle(50% at 50% 50%);
  }
  .btn--circle:hover .circle-fill {
    transform: scale(1.1);

  }
  .btn--circle:hover .circle-icon {
    transform: translate(0,0);
    opacity: 1;
  }
  .circle-fill {
    background-color: white;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    transform: scale(0);
    transition: transform .5s cubic-bezier(.49,0,.01,1),background-color .5s cubic-bezier(.49,0,.01,1),-webkit-transform .5s cubic-bezier(.49,0,.01,1);

  }
  .circle-icon {
    transform: translate(-100%,0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 2;
    transition: all .5s cubic-bezier(.49,0,.01,1);
  }

  .circle-icon .icon-arrow {
    color: black;
    width: 20px;
    height: 20px;
    stroke: none;
    fill: var(--color-contrast-lower);
  }
  .circle {
    position: absolute;
    right: calc(100% - 10px);
    top: 0;
    bottom: 0;
    margin: auto;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    clip-path: circle(25% at 50% 50%);
    transition: clip-path .5s cubic-bezier(.49,0,.01,1);
}
  .circle-outline {
    stroke: #FFFFFF;
    fill: transparent;
    width: 10px;
  }
  .btn--circle:hover .ms-btn--label {
    transform: translateX(calc(10px + 6pt));
}

  