<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <section>
        <div class="pt-4 h-screen">
            <div class="flex justify-center pb-4">
                <img src="../img/suitsupply-logo.svg" alt="">
            </div>
            <div class="flex ">
                <div class="w-4/6 bg-[#efefef] flex justify-end flex-grow relative">
                        <div class=" flex justify-center">
                            <img class="h-[600px] mx-auto" src="https://cdn.suitsupply.com/image/upload/b_rgb:efefef,c_fit,f_auto,h_2000,q_auto:best,w_1600/b_rgb:efefef,c_fit,f_auto,h_2000,l_coatconfig:S88031.10-267:coat:sidepocket:Merano_LKL_CSPFP,q_auto:good,w_1600/coatconfig/S88031.10-267/coat/fit/Merano_LKL" alt="">
                        </div>
                        <div class="h-[calc(100vh-48px)] w-1/4  ">
                            <div class="bg-white m-2  ">
                                <div class="border-b px-10 ">
                                    <h3 class="font-bold py-4 text-sm">Sort by</h3>
                                    <div class="flex items-center justify-between ">
                                        <label class="py-4 font-light text-sm" for="">Newest</label>
                                        <input type="radio" name="" id="">
                                    </div>
                                    <div class="flex items-center justify-between">
                                        <label class="py-4 font-light text-sm" for="">Price High-Low</label>
                                        <input type="radio" name="" id="">
                                    </div>
                                    <div class="flex items-center justify-between">
                                        <label class="py-4 font-light text-sm" for="">Price Low-High</label>
                                        <input type="radio" name="" id="">
                                    </div>
                                </div>
                                <div class="px-10">
                                    <p>color</p>
                                </div>
                            </div>
                        </div>
                        
                </div>
                <div class="w-2/6 flex flex-col ">
                    <div class="flex justify-between text-sm pt-4">
                        <a href="" class="flex-grow border-b border-black py-2 px-6">1. Fabric</a>
                        <a href="" class="flex-grow border-b py-2 px-6">2. Style</a>
                        <a href="" class="flex-grow border-b py-2 px-6">3. Size</a>
                        <a href="" class="flex-grow border-b py-2 px-6">4. Summary</a>
                    </div>
                    <div class="overflow-y-auto h-auto">
                        <div>
                            <h3 class="text-center font-light text-xl text-gray-900 pt-10 py-2">Select your fabric</h3>
                        </div>
                        <div class="w-[85%] mx-auto my-1">
                            <div class="w-full grid gap-2 grid-cols-2 mb-2">
                                <button class=" my-4 py-2 border border-gray-200 hover:border-gray-400 rounded-md ">Filter</button>
                                <button class=" my-4 py-2 border border-gray-200 hover:border-gray-400 rounded-md ">Search</button>
                            </div>
                            <div >
                                <button class=" group w-full border pt-1.5 rounded-md focus:border-black hover:border-gray-300 my-2">
                                    <div class=" mx-auto flex justify-center relative">
                                        <img class="h-[100px] w-[97%] rounded-md" src="https://cdn.suitsupply.com/image/upload/b_rgb:efefef,c_lfill,f_auto,h_400,q_auto:good,w_800/products/cm-sample/default/S1548.20-54_23" alt="">
                                        <div class="absolute hidden group-hover:block group-focus:block  top-2 right-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="flex justify-between px-4 py-2 text-sm ">
                                        <h3 class=" group-focus:font-medium ">Dark Red Pure Wool 4Ply</h3>
                                        <h3><span class=" group-focus:font-medium ">$634</span> USD</h3>
                                    </div>
                                </button>
                                <button class=" group w-full border pt-1.5 rounded-md focus:border-black hover:border-gray-300 my-2">
                                    <div class=" mx-auto flex justify-center relative">
                                        <img class="h-[100px] w-[97%] rounded-md" src="https://cdn.suitsupply.com/image/upload/b_rgb:efefef,c_lfill,f_auto,h_400,q_auto:good,w_800/products/cm-sample/default/S1548.20-54_23" alt="">
                                        <div class="absolute hidden group-hover:block group-focus:block  top-2 right-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="flex justify-between px-4 py-2 text-sm ">
                                        <h3 class=" group-focus:font-medium ">Dark Red Pure Wool 4Ply</h3>
                                        <h3><span class=" group-focus:font-medium ">$634</span> USD</h3>
                                    </div>
                                </button>
                                <button class=" group w-full border pt-1.5 rounded-md focus:border-black hover:border-gray-300 my-2">
                                    <div class=" mx-auto flex justify-center relative">
                                        <img class="h-[100px] w-[97%] rounded-md" src="https://cdn.suitsupply.com/image/upload/b_rgb:efefef,c_lfill,f_auto,h_400,q_auto:good,w_800/products/cm-sample/default/S1548.20-54_23" alt="">
                                        <div class="absolute hidden group-hover:block group-focus:block  top-2 right-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="flex justify-between px-4 py-2 text-sm ">
                                        <h3 class=" group-focus:font-medium ">Dark Red Pure Wool 4Ply</h3>
                                        <h3><span class=" group-focus:font-medium ">$634</span> USD</h3>
                                    </div>
                                </button>
                                <button class=" group w-full border pt-1.5 rounded-md focus:border-black hover:border-gray-300 my-2">
                                    <div class=" mx-auto flex justify-center relative">
                                        <img class="h-[100px] w-[97%] rounded-md" src="https://cdn.suitsupply.com/image/upload/b_rgb:efefef,c_lfill,f_auto,h_400,q_auto:good,w_800/products/cm-sample/default/S1548.20-54_23" alt="">
                                        <div class="absolute hidden group-hover:block group-focus:block  top-2 right-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="flex justify-between px-4 py-2 text-sm ">
                                        <h3 class=" group-focus:font-medium ">Dark Red Pure Wool 4Ply</h3>
                                        <h3><span class=" group-focus:font-medium ">$634</span> USD</h3>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-auto border-t pt-4">
                        <div class="flex justify-between items-center w-[85%] mx-auto mt-auto mb-8">
                            <div>
                                <p class="text-xs text-gray-400">Delivery 2-3 weeks</p>
                                <h3 class="text-sm text-gray-800 font-light">$643 USD</h3>
                            </div>
                            <div class="flex">
                                <button class="border px-11 py-2.5 text-sm rounded-md mx-1">Prev</button>
                                <button class="border px-11 py-2.5 text-sm bg-[#2d2d2c] text-white rounded-md mx-1">Next</button>
                            </div>
                        </div>
                    </div>
                    
                    <section>
                        <div class="overflow-y-auto h-auto">
                            <div>
                                <h3 class="text-center font-light text-xl text-gray-900 pt-10 py-2">Your style</h3>
                            </div>
                            <div class="w-full flex justify-center pt-4">
                                <button class="border border-gray-300 hover:border-gray-400 rounded-md text-sm w-[85%] flex justify-between py-5 font-light px-4">Fit <span class="text-gray-500 text-end">Bleecker</span></button>
                            </div>
                            <div class="w-full flex justify-center pt-4">
                                <button class="border border-gray-300 hover:border-gray-400 rounded-md text-sm w-[85%] flex justify-between py-5 font-light px-4">Fit <span class="text-gray-500 text-end">Bleecker</span></button>
                            </div>
                            <div class="w-full flex justify-center pt-4">
                                <button class="border border-gray-300 hover:border-gray-400 rounded-md text-sm w-[85%] flex justify-between py-5 font-light px-4">Fit <span class="text-gray-500 text-end">Bleecker</span></button>
                            </div>
                            <div class="w-full flex justify-center pt-4">
                                <button class="border border-gray-300 hover:border-gray-400 rounded-md text-sm w-[85%] flex justify-between py-5 font-light px-4">Length<span class="text-gray-500 text-end">Dark Brown & Light Brown Matte (BOHA3-F)</span></button>
                            </div>
                            <div class="w-full flex justify-center pt-4">
                                <button class="border border-gray-300 hover:border-gray-400 rounded-md text-sm w-[85%] flex justify-between py-5 font-light px-4">Buttons<span class="text-gray-500 text-end">+25 USD <br>Extended Length 25cm</span></button>
                            </div>
                            <div class="w-full flex justify-center pt-4">
                                <button class="border-dashed border border-gray-300 hover:border-gray-400 rounded-md text-sm w-[85%] flex justify-between py-5 font-light px-4">+ Add 2nd Initial <span class="text-gray-500 text-end">No</span></button>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="overflow-y-auto h-auto">
                            <div>
                                <h3 class="text-center font-light text-xl text-gray-900 pt-10 py-2">Fit</h3>
                            </div>
                            <div class="w-full flex justify-center items-center pt-4">
                                <button class="border border-gray-300 hover:border-gray-400 focus:border-black rounded-md text-sm w-[85%] flex justify-between py-7 font-light px-6"><span class="text-start text-sm font-light w-2/3"><span class="text-lg font-bold">Vicenza</span> <br>A single-breasted tailored overcoat with a notch lapel and mid-thigh length.</span><img class="w-1/4" src="https://cdn.suitsupply.com/image/upload/b_rgb:ffffff,c_fit,f_auto,h_800,q_auto:good,w_800/custommade/thumbs2/fits/coat/vicenza" alt=""></button>
                            </div>
                            <div class="w-full flex justify-center items-center pt-4">
                                <button class="border border-gray-300 hover:border-gray-400 focus:border-black rounded-md text-sm w-[85%] flex justify-between py-7 font-light px-6"><span class="text-start text-sm font-light  w-2/3"><span class="text-lg font-bold">Vicenza</span> <br>This 6-button double-breasted tailored overcoat features a broad notch lapel, cuffed sleeves, and martingale.</span><img class="w-1/4" src="https://cdn.suitsupply.com/image/upload/b_rgb:ffffff,c_fit,f_auto,h_800,q_auto:good,w_800/custommade/thumbs2/fits/coat/vicenza" alt=""></button>
                            </div>
                            <div class="w-full flex justify-center items-center pt-4">
                                <button class="border border-gray-300 hover:border-gray-400 focus:border-black rounded-md text-sm w-[85%] flex justify-between py-7 font-light px-6"><span class="text-start text-sm font-light  w-2/3"><span class="text-lg font-bold">Vicenza</span> <br>This 6-button double-breasted tailored overcoat features a broad notch lapel, cuffed sleeves, and martingale.</span><img class="w-1/4" src="https://cdn.suitsupply.com/image/upload/b_rgb:ffffff,c_fit,f_auto,h_800,q_auto:good,w_800/custommade/thumbs2/fits/coat/vicenza" alt=""></button>
                            </div>
                            <div class="w-[85%] mx-auto">
                                <div class="w-full grid gap-2 grid-cols-2 mb-2">
                                    <button class=" my-4 py-2 border border-gray-200 hover:border-gray-400 rounded-md ">Close</button>
                                    <button class=" my-4 py-2 border border-gray-200 hover:border-gray-400 rounded-md bg-[#2d2d2c] text-white">Apply</button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>